<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @await Html.PartialAsync("_Favicons")
    <title>@ViewBag.Title</title>
    <link asp-href-include="~/css/bundle.min.css" rel="stylesheet" />
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
    <script asp-src-include="~/js/bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">@ViewBag.CompanyName</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">@ViewBag.Title<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Редактируемые сущности
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Genre" asp-action="Index">Литературные жанры</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Author" asp-action="Index">Авторы</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Publishing" asp-action="Index">Издательства</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="LiteratureType" asp-action="Index">Литературные типы</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Status" asp-action="Index">Статусы</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="TransactionType" asp-action="Index">Типы транзакций</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="SubscriptionType" asp-action="Index">Типы читательских абонементов</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Role" asp-action="Index">Роли</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Library" asp-action="Index">Библиотеки</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Rack" asp-action="Index">Стеллажи</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Shelf" asp-action="Index">Полки</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Subscription" asp-action="Index">Читательские абонементы</a>
                    </div>
                </li>
            </ul>
        </div>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
    </nav>
    @RenderBody()
</body>
</html>
